

#create-bug-form{
  margin: auto;
  padding:20px;
  padding-bottom: 100px;
  width: 400px;
  background-color: blue;
  color: white;
}

#create-bug-form .form-input{
  display: block;
  margin: auto;
}

#create-bug-form .form-label{
  display: block;
  margin: auto;
}

#create-bug-form .form-box{
  margin: 20px;
}

#create-bug-form .title{
  color:black
}
